<div class="card text-bg-dark">
    <img src="https://th.bing.com/th/id/OIP.TUtCLimlwdLMFgV4YrSwgAHaD5?pid=ImgDet&w=1377&h=726&rs=1" class="card-img" alt="...">
    <div id="text_card"  class="card-img-overlay">
      <h1 class="card-title">FELICES FIESTAS</h1>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
  <span id="titulo" class="badge">CONTACTANOS EN NUESTRAS REDES SOCIALES COMO</span>
<div class="row py-4">
<div class="col-1"></div>
    <div class="col">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Facebook</div>
            <div class="card-body">
              <p class="card-text">Encuentranos como <a href="" class="link-light">grupo@hotmail.com</a><br>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Instagram</div>
            <div class="card-body">
              <p class="card-text">Encuentranos como <a href="" class="link-light">grupo@hotmail.com</a><br>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Gmail</div>
            <div class="card-body">
              <p class="card-text">Encuentranos como <a href="">grupo@hotmail.com</a><br>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>
<div class="row py-2">
    <div class="col-2"></div>
    <div class="col">
        <div class="card text-bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Whatssap</div>
            <div class="card-body">
              <p class="card-text">Encuentranos como <a href="" class="link-light">+51 956 215 352</a><br>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Youtube</div>
            <div class="card-body">
              <p class="card-text">Encuentranos como <a href="" class="link-light">Una tienda comun Mas</a><br>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>