<div class="card mb-3">
    <img src="https://th.bing.com/th/id/OIP.JldyFUAFZfDlHYorybbNkgHaDe?pid=ImgDet&w=960&h=450&rs=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Somos reconocidos por todo el mundo</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-4">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img id="cardimg"  src="https://is2-ssl.mzstatic.com/image/thumb/Purple122/v4/11/38/69/113869bf-385e-0194-f4b0-4949cd74b2fe/source/512x512bb.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Nos encontramos disponibles en:</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Piura</li>
            <li class="list-group-item">Tacna</li>
            <li class="list-group-item">Lima</li>
            <li class="list-group-item">Arequipa</li>
            <li class="list-group-item">Callao</li>
          </ul>
    </div>
    <div class="col"></div>
</div>
