<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">UTEXN</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="row">
  <div class="col">
      <nav class="navbar bg-body-tertiary">
          <form class="container-fluid justify-content-mid">
            <button class="btn btn-outline-primary me-2" type="button">Facebook</button>
            <button class="btn btn-sm btn-outline-dark" type="button">Instagram</button>
          </form>
        </nav>
  </div>
</div>

